@import 'fonts/stylesheet.css';

* {
    font-family: 'Cera Pro';
    /* scrollbar-width: thin;
    scrollbar-color: #0078EE #ADB6BF66; */
}

::-webkit-scrollbar {
    width: 9px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #ADB6BF66;
}

::-webkit-scrollbar-thumb {
    background: #0078EE;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}