@import 'fonts/stylesheet.css';

* {
    font-family: 'Cera Pro';
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0078EE;
    border-radius: 5px;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}